<ion-header mode="ios">
    <ion-toolbar>
        <ion-title>Settings and privacy</ion-title>
        <ion-buttons slot="start">
            <ion-back-button mode="md"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item-divider>
            <ion-label>
                ACCOUNT
            </ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>
                Manage account
            </ion-label>
            <ion-icon slot="start" src="../assets/svg/user-s.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                Privacy
            </ion-label>
            <ion-icon slot="start" src="../assets/svg/privacy-s.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                Security and login
            </ion-label>
            <ion-icon slot="start" src="../assets/svg/s-a-l.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                Creator tools
            </ion-label>
            <ion-icon slot="start" src="../assets/svg/user-s.svg"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-label>
                Balance
            </ion-label>
            <ion-icon slot="start" name="wallet-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                QR code
            </ion-label>
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                Share profile
            </ion-label>
            <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
        </ion-item>
        <ion-item-divider>
            <ion-label>
                CONTENT & ACTIVITY
            </ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>
                Push notifications
            </ion-label>
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                App language
            </ion-label>
            <ion-icon slot="start" src="../assets/svg/app-l-s.svg"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                Content prefernces
            </ion-label>
            <ion-icon slot="start" name="videocam-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                Family Pairing
            </ion-label>
            <ion-icon slot="start" name="home-outline"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>
                Accessibility
            </ion-label>
            <ion-icon slot="start" name="accessibility-outline"></ion-icon>
        </ion-item>

    </ion-list>
        <div class="ion-text-center version">
            <small>v0.1 Beta</small>
        </div>

</ion-content>
