<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon size="large" src="../assets/svg/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon size="large" src="../assets/svg/discover.svg"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-video">
      <ion-img src="../assets/svg/addvideo.svg"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon size="large" src="../assets/svg/message.svg"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon size="large" src="../assets/svg/user.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
